{
  "openapi": "3.0.1",
  "info": {
    "title": "Keyflow API",
    "description": "An example API that demonstrates the usage of API keys and accepting inputs",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://keyflow-backend.com/api"
    }
  ],
  "paths": {
    "/flows/{flow_id}/trigger": {
      "post": {
        "summary": "Triggers a flow programatically using API",
        "description": "Triggers a flow programatically using API",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Trigger"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/public/upload": {
      "post": {
        "summary": "Use this API to upload a file to Keyflow",
        "description": "Use this API to upload a file to Keyflow",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Upload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Trigger": {
        "type": "object",
        "required": ["inputs"],
        "additionalProperties": false,
        "properties": {
          "inputs": {
            "type": "object",
            "additionalProperties": true,
            "description":"The inputs are dependent on the workflow. They should be passed as a JSON object."
          }
        },
        "example": {
          "inputs": {
            "sender_email": "someone@example.com",
            "email_subject": "Test Email Subject",
            "email_body": "Test Body"
          }
        }
      },

      "TriggerResponse": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string",
            "description": "The ID of the run that was triggered."
          }
        },
        "example": {
          "run_id": "Target-Flow-Id"
        }
      },
      "Upload": {
        "type": "object",
        "required": ["flow_id", "run_id", "files"],
        "additionalProperties": false,
        "properties": {
          "flow_id": {
            "type": "string",
            "description": "The ID of the flow within which the file is to be uploaded."
          },
          "run_id": {
            "type": "string",
            "description": "The ID of the run within which the file is to be uploaded."
          },
          "files": {
            "type": "array",
            "description": "The files to be uploaded."
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "The API key for the workflow. It can be found in the Trigger section on Builder Page."
      }
    }
  }
}
