{
  "openapi": "3.0.1",
  "info": {
    "title": "Keyflow API",
    "description": "An example API that demonstrates the usage of API keys and accepting inputs",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://keyflow-backend.com/api"
    }
  ],
  "paths": {
    "/trigger": {
      "post": {
        "summary": "Triggers a flow programatically using API",
        "description": "Triggers a flow programatically using API",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Trigger"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Trigger": {
        "type": "object",
        "required": ["inputs"],
        "additionalProperties": false,
        "properties": {
          "inputs": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "example": {
          "inputs": {
            "sender_email": "someone@example.com",
            "email_subject": "Test Email Subject",
            "email_body": "Test Body"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
